html, body {
  background-color: #FFF;
  margin: 0px;
  margin-top: 0px;
  padding: 0;
  height: 100%
}

.header {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Grand_Canyon_Panorama_2013.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 100%;
  margin-bottom: 30px;
}

#header-text {
  position: relative;
  margin: auto;
  padding: 75px;
  text-align: center;
  top: 25;
  width: 60%;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  line-height: 50%;
}

.header h4 {
  font-weight: 100;
}

.content {
  margin: 15%;
  margin-top: 0%;
  text-align: center;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}

.titles {
  position: absolute;
  text-align: center;
  background-color: #111;
  /*color: #000;*/
  font-family: 'Oswald', sans-serif;
  padding: 18px;
  /* Does this center on page? Answer: Yes*/
  width: 100%;
  font-size: 25px;
}

.background-two {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/99/81/71/9981717f0ff14e7e8e2a6027574634d8.jpg);
  height: 100;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
