* {
 background-color: LightSlateGray;
}

html {
  font-family: Courier New;
  font-weight: normal;
}

header {
  text-align: center;
  font-weight: bold;
  margin: 45px 10px 45px 10px;
}

content p{
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  font-size: 13px;
  width: 450px;
  height: 100px;
  background: DimGray;
  margin: auto;
}

p {
padding: 10px;
}
